html
    head
        link(rel='stylesheet', href='/stylesheets/core/error.css')
    body
        #clouds
            .cloud.x1
            .cloud.x1_5
            .cloud.x2
            .cloud.x3
            .cloud.x4
            .cloud.x5
        .c
            ._404=`${errorStatus}`
            hr
            ._2(style="color: red")= `ERROR Message : ${errorMessage}`
            ._2(style="color: red")= `ERROR from : ${errorFrom}`
            a.btn(href='/') Home
            -if(loginedId !== null){
            form(action=`/reportError/er/${loginedId}` id='submit' method="post")
                input(type='hidden', id='sender' name='sender' value=`${loginedId}`)
                input(type='hidden', id='userAgent' name='userAgent')
                input(type='hidden', id='vendor' name='vendor')
                input(type='hidden', id='language' name='language')
                a.btn(href='#' onclick="document.getElementById('submit').submit()") Report to Administrator
            - } else {
            form(action=`/reportError/er/anonymous` id='submit' method="post")
                input(type='hidden', id='sender' name='sender' value=`anonymous`)  
                input(type='hidden', id='userAgent' name='userAgent')
                input(type='hidden', id='vendor' name='vendor')
                input(type='hidden', id='language' name='language') 
                a.btn(href='#' onclick="document.getElementById('submit').submit()") Report to Administrator
            -}
script(src='../../javascripts/core/error.js')


