doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= `${userId}'s Portfolio`
  
    // BootStrap CDN
    
    //- link(href='/stylesheets/core/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/detail.css')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(id="first_nav")
  .container
    a.navbar-brand(href=`/${userId}`)=`${userId}'s Portfolio`
    button.navbar-toggler(type='button' id="toolButton", data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/') Home
        li.nav-item.active
          - if(ownerCheck){
            a.nav-link(href='/logout') Logout
          - } else {
            a.nav-link(href='/auth/github') Login
          - }
        li.nav-item.active
          input#input-url(type='hidden', value='Copied!')
          a.nav-link(href='#' id='btn-copy') Copy this URL
        li.nav-item.active
          a.nav-link(href=`/${userId}/contact`) Contact
section#works.l-section(role='region')
  .l-section-holder
    h2.section-heading
      span.secondary Portfolio 😁
      span.primary= `${name}`
    #portfolio.section-content.gallery.alternate
      article#work1.gallery-item(role='article')
        figure.gallery-figure(role='group')
          .gallery-image
            img.gallery-image-thumb(src=`${imgurl}`)
          figcaption.gallery-caption
            //- h3.gallery-title= name
            ul.gallery-spec
              li.gallery-spec-item
                strong.gallery-spec-key Views
                span.gallery-spec-value= counter
              li.gallery-spec-item
                strong.gallery-spec-key Type
                span.gallery-spec-value= type
              li.gallery-spec-item
                strong.gallery-spec-key Project Keywords
                span.gallery-spec-value= sumlang
              li.gallery-spec-item
                strong.gallery-spec-key Term
                span.gallery-spec-value= startDate +'~'+ endDate
            #work1Description
            strong.gallery-spec-key Summary
            span.gallery-spec-value= explanation
            .ui-group
              - if(url){
              a.ui-button(role='button', href=`${url}`, target='_blank') Demo
              - }
              a.ui-button(role='button', href=`${githuburl}`, target='_blank') Github Repo
        div(id="readme" class="Box Box--condensed instapaper_body md js-code-block-container")
          .Box-header.px-2.clearfix
            h3.Box-title.pr-3
              svg.octicon.octicon-book(viewbox='0 0 16 16', version='1.1', width='16', height='16', aria-hidden='true')
                path(fill-rule='evenodd', d='M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z')
              |         README.md
              a.Box-btn-octicon.btn-octicon.float-right(href=`${githuburl}/edit/master/README.md`  target="_blank" , aria-label='Edit this file')
                svg.octicon.octicon-pencil(viewbox='0 0 14 16', version='1.1', width='14', height='16', aria-hidden='true')
                  path(fill-rule='evenodd', d='M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z')
          div(class="Box-body p-6")
            != `${markdown}`
  footer#footer.l-footer(role='contentinfo')
    .l-section-holder.l-footer-holder.footer-widget-group
      // Contact
      #contacts.footer-widget
        h2.footer-heading Contacts
        .footer-content
          ul.unstyled-list
            - if(email){
            li
              a(href=`mailto:${email}`, title='email')
                img(src="https://png.icons8.com/material-outlined/50/ffffff/new-post.png" class="icons")
                span.iconed-text=`${email}`
            li
            -}
            - if(phoneNumber) {
              span(title='phone')
                img(src='https://png.icons8.com/material/50/ffffff/google-mobile.png' class="icons")
                span.iconed-text=`${phoneNumber}`
            -}
            li
              a(href=`https://github.com/${userId}`, target='_blank', title='githubURL')
                img(src='https://png.icons8.com/windows/50/ffffff/github.png' class="icons")
                span.iconed-text Github Account
  #tools
    a.toolButton(role='button', href='/')
      img(src="https://png.icons8.com/ios/50/000000/home-page.png" class="toollogo")
      span.text
        | Go
        br
        b home
    a.toolButton(role='button', href='#')
      img(src='https://png.icons8.com/ios-glyphs/50/666666/collapse-arrow.png' class="toollogo")
      span.text
        | page
        br
        b top
    - if(ownerCheck === userId){
    a.toolButton(role='button')
      form(method="post" action=`/${userId}/${pageId}/delete_process`)
        input(type='image' src='https://png.icons8.com/ios/35/000000/waste-filled.png' id="delete_button" class="toollogo" onclick="return checkDelete()")
      span.text
        | Delete
        br
        b this
    a.toolButton(role='button', href=`/${userId}/${pageId}/update`)
      img(src="https://png.icons8.com/windows/50/000000/edit-file.png" class="toollogo")
      span.text
        | Update
        br
        b this
    - }
// Bootstrap CDN JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
// Sweetalert CDN JS
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
// Clipboard CDN JS
script(src='https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js')
script(type='application/javascript', charset='utf-8', src='/javascripts/setting.js')