doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Expressme Find Users Page')
  meta(property='og:description' content='Search excellent users')
  meta(property='og:image' content='https://img.icons8.com/ultraviolet/40/000000/user-male.png')
  title Find User
  include libraries/bootstrapcss.pug
  include libraries/googleadsense.pug
  link(href='stylesheets/findUser.css', rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
      a.navbar-brand(href='/')
        img(src="https://img.icons8.com/ultraviolet/40/000000/user-male.png")
        strong Find User
      button.navbar-toggler(type='button' id="toolButton", data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item.active
            - if(ownerCheck){
              a.nav-link(href='/logout') Logout
            - } else {
              a.nav-link(href='/auth/login') Login
            - }
main(role='main' class='main')
  .container.bg-light
    .input-group
      input.form-control(type='text',  id='searchUsers' placeholder="Search Skills, Name, etc", aria-label="Search Placeholder", aria-describedby='basic-addon2')
      .input-group-append
        button.btn.btn-outline-secondary(type='button' onclick="searchUsers();") Search


  .album.py-5.bg-light
    .container#container
      .row#additional
        each profile in dataarray
            .col-md-3
                .card.mb-3.box-shadow
                    img.card-img-top(src=`${profile.avatar_url}`)
                    .card-body
                        b
                          p.card-name=`${profile.login}`  
                        p.card-text=`${profile.bio}`
                        .d-flex.justify-content-between.align-items-center
                            .btn-group
                                button.btn.btn-sm.btn-outline-secondary(type='button' onClick=`location.href='${profile.login}'`) View
                                button.btn.btn-sm.btn-outline-secondary(type='button' onClick=`location.href='/admin/mypage/request/contact/${profile.login}'`) Contact
                            small.text-muted=`View Score : ${profile.view_counter}`
      .moreUser
        <button type="button" onclick="loadMoreUsers();" class="btn btn-primary" id="loadMoreUsers">Load More Users</button>

main(role='main' class='main')
  footer.container
      p.float-right
          a(href='#') Back to top
      p
          | &copy; 2018-2019 Portfolio World, Inc. &middot; 
          a(href='#') Privacy
          |  &middot; 
          a(href='#') Terms
include libraries/bootstrapjs.pug
include libraries/googleanalytics.pug
script(src='/javascripts/findUser.js')