doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width', initial-scale='1')
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='theme-color', content='#252831')
  title=`${userId}'s Portfolio`
  include libraries/bootstrapcss.pug
  include libraries/googleadsense.pug
  // Custom styles for this template
  link(href='/stylesheets/portfolio_detail.css', rel='stylesheet')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(id="first_nav")
  .container
    a.navbar-brand(href=`/${userId}`)=`${userId}'s Portfolio`
    button.navbar-toggler(type='button' id="toolButton", data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home
            span.sr-only (current)
        - if(ownerCheck === userId){
          a.nav-link(href='/logout') Logout
          a.nav-link(href=`/admin/mypage/${userId}`) My Page
        - } else if (ownerCheck && (ownerCheck !== userId)){

        - } else {
          a.nav-link(href='/auth/login') Login
        - }
        //- li.nav-item
        li.nav-item
          a.nav-link(href=`/admin/mypage/request/contact/${userId}`) Contact
.toolbar.navbar(id="second_nav")
  select#type-select(onchange='selectBoxUpdate();')
    option(value='All') All Achievements
    option(value='Project') Projects
    option(value='Certificate') Certifications
    option(value='Education') Education
  - if(ownerCheck === userId) {
  button(class='button' type='button' onclick=`window.location.href='/${userId}/create'`) New Data
  -}
  input#input-url(type='hidden', value='Copied!')
  button(class='button' id='btn-copy') Copy URL
  input#hiddenQR(type='hidden')
  button(class='button' id='qrCode')
    i.fas.fa-qrcode
      p  QR Code
  div(id='lemon')
// Page Content
.container
  // Page Heading
  .row
    each projects in dataarray
      div(class=`${projects.project_type} col-lg-3 col-md-4 col-sm-6 portfolio-item`)
        .card.h-100
          .card-type(class=`${projects.project_type}`)
            p.text
              =projects.projectType
          img.card-img-top(src=`${projects.imageURL}`)
          i.devicon-javascript-plain.colored
          .card-body
            h4.card-title
              a(href=`/${userId}/${projects.name}`)
                = projects.name
            p.card-keyword
              = `keyword : ${projects.language}`
            - if(projects.description) {
            p.card-text
              = `${projects.description}`
            - } 
          a(href= `/${userId}/${projects.name}` class="viewDetail") View Details
  // Pagination
  ul.pagination.justify-content-center
    li.page-item
      a.page-link(href='#', aria-label='Previous')
        span(aria-hidden='true') &laquo;
        span.sr-only Previous
    li.page-item
      a.page-link(href='#') 1
    li.page-item
      a.page-link(href='#') 2
    li.page-item
      a.page-link(href='#') 3
    li.page-item
      a.page-link(href='#', aria-label='Next')
        span(aria-hidden='true') &raquo;
        span.sr-only Next
// Footer
footer.bg-dark
  .container
    p.m-0.text-center.text-white 
      =`Copyright © ${userId} 2020`
// Bootstrap core JavaScript
include libraries/bootstrapjs.pug
include libraries/googleanalytics.pug
//- Custom JavaScript
script(src='https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
script(type='application/javascript', charset='utf-8', src='javascripts/qrcode.js')
script(type='application/javascript', charset='utf-8', src='javascripts/setting.js')
script.
  let qrCodeImageURL=!{JSON.stringify(qrCodeImageURL)}
  let userId=!{JSON.stringify(userId)}