extends layout

block content
  header
    nav
      h1
        a(href='/')= `${userId}`
  main#maincontent
    section
      .filter-options
        h2 Filter Results
        select#neighborhoods-select(name='neighborhoods', onchange='selectBoxUpdate();')
          option(value='All') All Achievements
          option(value='Project') Projects
          option(value='Certificate') Certifications
          option(value='Education') Education
        button(class='button' type='button' onclick=`window.location.href='/${userId}/create'`) Create Information
    ul#restaurants-list
      each projects in dataarray
        li(class=`${projects.type}`)
          .type-box
            p(class=`paragraph-`+`${projects.type}`)=`${projects.type}`
          img.restaurant-img(src=`/images/member/${userId}/${projects.imgurl}` onerror=`this.src='/images/app/${projects.type}.png'`)
          a(href=`/${projects.id}`)
            h1= projects.name
          p(class="element" style="font-weight: bold")= `Keyword : ${projects.sumlang}`
          p(class="explanation")= `${projects.explanation}`
            br
          a(href= `/${userId}/` + `${projects.id}` class="viewDetail") View Details
  script(type='application/javascript', charset='utf-8', src='javascripts/setting.js')
  script(type='application/javascript', charset='utf-8', src='javascripts/sw_register.js')
  
  footer#footer
    | Copyright (c) 2018
    a(href='https://www.linkedin.com/in/sihyeonglee/')
      strong Si Hyeong Lee
    |  All Rights Reserved.
