doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title=`${userId}'s Portfolio`
  // Bootstrap core CSS
  link(href='stylesheets/core/bootstrap.min.css', rel='stylesheet')
  // Custom styles for this template
  link(href='/stylesheets/portfolio_detail.css', rel='stylesheet')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(id="first_nav")
  .container
    a.navbar-brand(href=`/${userId}`)=`${userId}'s Portfolio`
    button.navbar-toggler(type='button' id="toolButton", data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home
            span.sr-only (current)
        - if(ownerCheck){
           a.nav-link(href='/logout') Logout
        - } else {
           a.nav-link(href='/auth/github') Login
        - }
        li.nav-item
          a.nav-link(href='#') Services
        li.nav-item
          a.nav-link(href='#') Contact
.toolbar.navbar(id="second_nav")
  select#type-select(onchange='selectBoxUpdate();')
    option(value='All') All Achievements
    option(value='Project') Projects
    option(value='Certificate') Certifications
    option(value='Education') Education
  - if(ownerCheck === userId) {
  button(class='button' type='button' onclick=`window.location.href='/${userId}/create'`) Create Information
  -}
  input#input-url(type='hidden', value='Copied!')
  button(class='button' id='btn-copy') Copy this URL
// Page Content
.container
  // Page Heading
  .row
    each projects in dataarray
      div(class=`${projects.type} col-lg-3 col-md-4 col-sm-6 portfolio-item`)
        .card.h-100
          .card-type(class=`${projects.type}`)
            p.text
             =projects.type
          - if(projects.imgurl==='HTML') {
          svg.card-img-top(viewbox='0 0 128 128')
              path(fill='#E44D26', d='M19.037 113.876l-10.005-112.215h109.936l-10.016 112.198-45.019 12.48z')
              path(fill='#F16529', d='M64 116.8l36.378-10.086 8.559-95.878h-44.937z')
              path(fill='#EBEBEB', d='M64 52.455h-18.212l-1.258-14.094h19.47v-13.762h-34.511l.33 3.692 3.382 37.927h30.799zM64 88.198l-.061.017-15.327-4.14-.979-10.975h-13.817l1.928 21.609 28.193 7.826.063-.017z')
              path(fill='#fff', d='M63.952 52.455v13.763h16.947l-1.597 17.849-15.35 4.143v14.319l28.215-7.82.207-2.325 3.234-36.233.335-3.696h-3.708zM63.952 24.599v13.762h33.244l.276-3.092.628-6.978.329-3.692z')
          - } else if(projects.imgurl==='JavaScript'){
          svg.card-img-top(viewbox='0 0 128 128')
              path(fill='#F0DB4F', d='M1.408 1.408h125.184v125.185h-125.184z')
              path(fill='#323330', d='M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zm-46.885-37.793h-11.709l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z')
          - } else {
            img.card-img-top(src=`/images/member/${userId}/${projects.imgurl}`, onerror=`this.src='/images/app/${projects.type}.png'`)
          - } 
          .card-body
            h4.card-title
              a(href=`/${userId}/${projects.id}`)
                = projects.name
            - if(projects.sumlang) {
            p.card-keyword
              = `Keyword : ${projects.sumlang}`
            - }
            p.card-text
              = projects.explanation
          a(href= `/${userId}/` + `${projects.id}` class="viewDetail") View Details
  // /.row
  // Pagination
  ul.pagination.justify-content-center
    li.page-item
      a.page-link(href='#', aria-label='Previous')
        span(aria-hidden='true') &laquo;
        span.sr-only Previous
    li.page-item
      a.page-link(href='#') 1
    li.page-item
      a.page-link(href='#') 2
    li.page-item
      a.page-link(href='#') 3
    li.page-item
      a.page-link(href='#', aria-label='Next')
        span(aria-hidden='true') &raquo;
        span.sr-only Next
// Footer
footer.bg-dark
  .container
    p.m-0.text-center.text-white 
      =`Copyright © ${userId} 2018`
// Bootstrap core JavaScript
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='javascripts/core/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js')
script(type='application/javascript', charset='utf-8', src='javascripts/setting.js')





//- extends layout

//- block content
//-   header
//-     nav
//-       h1
//-         a(href='/')= `${userId}`
//-   main#maincontent
//-     section
//-       .filter-options
//-         h2 Filter Results
//-         select#neighborhoods-select(name='neighborhoods', onchange='selectBoxUpdate();')
//-           option(value='All') All Achievements
//-           option(value='Project') Projects
//-           option(value='Certificate') Certifications
//-           option(value='Education') Education
//-         button(class='button' type='button' onclick=`window.location.href='/${userId}/create'`) Create Information
//-         input#input-url(type='hidden', value='Copied!')
//-         button(class='button' id='btn-copy') Copy this URL
//-     ul#restaurants-list
//-       each projects in dataarray
//-         li(class=`${projects.type}`)
//-           .type-box
//-             p(class=`paragraph-`+`${projects.type}`)=`${projects.type}`
//-           img.restaurant-img(src=`/images/member/${userId}/${projects.imgurl}` onerror=`this.src='/images/app/${projects.type}.png'`)
//-           a(href=`/${projects.id}`)
//-             h1= projects.name
//-           p(class="element" style="font-weight: bold")= `Keyword : ${projects.sumlang}`
//-           p(class="explanation")= `${projects.explanation}`
//-             br
//-           a(href= `/${userId}/` + `${projects.id}` class="viewDetail") View Details
//-   script(src='https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js')
//-   script(type='application/javascript', charset='utf-8', src='javascripts/setting.js')
//-   script(type='application/javascript', charset='utf-8', src='javascripts/sw_register.js')
  
//-   footer#footer
//-     | Copyright (c) 2018
//-     a(href='https://www.linkedin.com/in/sihyeonglee/')
//-       strong Si Hyeong Lee
//-     |  All Rights Reserved.
