<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=`Sitemap ${pageNumber}`
    style.
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    body
        table
            tr
                th User
                th display ID
                th name
                th View Count
                th Register Date
            each data in userData
                tr
                    td
                        a(href=`/${data.login}`)=`${data.login}`
                    td=`${data.login}`
                    td=`${data.name}`
                    td=`${data.userViewCounter}`
                    td=`${data.registerDate}`
    //- - if(pageResult ==='NODATA'){
    //-     p NO MORE DATA
    //- - } else {
    //-     a(href=`/sitemap/${pageResult}`)= `Page ${pageResult}`
    //- - }