<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=`Sitemap ${pageNumber}`
    style.
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    body
        table
            tr
                th User
                th display ID
                th name
                th View Count
                th Register Date
                each user in users    
                    tr
                        td
                            a(href=`/${user.login}`)=`${user.login}`
                        td=`${user.login}`
                        td=`${user.name}`
                        td=`${user.count}`
                        td=`${user.registerDate}`
    if(pageNumber ===0)
        a(href=`/sitemap/${pageNumber+1}`)= `Next Page > ${pageNumber+1}`
    else if(pageNumber !==0 && users.length==0)
        a(href=`${pageNumber-1}` style="margin-right: 50px;")= `${pageNumber-1} < Previous Page`    
        p='No Data'
    else if(pageNumber !==0)
        a(href=`${pageNumber-1}` style="margin-right: 50px;")= `${pageNumber-1} < Previous Page`
        a(href=`/sitemap/${pageNumber+1}`)= `Next Page > ${pageNumber+1}`
    
