doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Dashboard - MyPage
		// Bootstrap CSS CDN
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		// Font Awesome CSS CDN
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
		// Layout CSS
		block customCSS
		link(href='/stylesheets/mypage/mypage.css', rel='stylesheet')
body#page-top
	nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
		a.navbar-brand.mr-1(href='/') Portfolio World
		button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0(href='#')
			i.fas.fa-bars
		// Navbar Search
		form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
		// Navbar
		ul.navbar-nav.ml-auto.ml-md-0
			li.nav-item.dropdown.no-arrow.mx-1
				a#alertsDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					i.fas.fa-bell.fa-fw
					span.badge.badge-danger 9+
			li.nav-item.dropdown.no-arrow.mx-1
				a#messagesDropdown.nav-link.dropdown-toggle(href=`/${userId}/admin/contact`, role='button')
					i.fas.fa-envelope.fa-fw
					span.badge.badge-danger#counter
			li.nav-item.dropdown.no-arrow
				a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					i.fas.fa-user-circle.fa-fw
				.dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
					a.dropdown-item(href=`/${userId}`) My Portfolio Main
					.dropdown-divider
					a.dropdown-item(href='#', onclick='logout()') Logout
	#wrapper
		// Sidebar
		ul.sidebar.navbar-nav.toggled
			li.nav-item.active
				a.nav-link(href=`/${userId}/admin/mypage`)
					i.fas.fa-fw.fa-tachometer-alt
					span Dashboard
			li.nav-item
				a.nav-link(href=`/${userId}/admin/contact`)
					i.fas.fa-fw.fa-comments
					span Contact
			li.nav-item
				a.nav-link(href=`/${userId}/admin/user`)
					i.fas.fa-fw.fa-user
					span User Information
		block content
script.
	let userId=!{JSON.stringify(userId)}

// Bootstrap JS CDN
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
// Socket IO Script
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
// Global JS
script(src='/javascripts/mypage/mypage.js')

block customJS
// SweetAlert JS CDN
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')

