extends layout.pug

block customCSS
	// Datatable CSS CDN
	link(href='https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css', rel='stylesheet')

block content
	#content-wrapper
		.container-fluid
			// Breadcrumbs
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Dashboard
				li.breadcrumb-item.active Overview
			// Icon Cards
			.row
				.col-xl-3.col-sm-6.mb-3
					.card.text-white.bg-primary.o-hidden.h-100
						.card-body
							.card-body-icon
								i.fas.fa-fw.fa-eye
							.mr-5=`Total Views on your Portfolio : ${totalViews}`
						a.card-footer.text-white.clearfix.small.z-1
							span.float-left= `Today's Visitor : ${todayVisitors}`
				.col-xl-3.col-sm-6.mb-3
					.card.text-white.bg-warning.o-hidden.h-100
						.card-body
							.card-body-icon
								i.fas.fa-fw.fa-list
							.mr-5 11 New Tasks!
						a.card-footer.text-white.clearfix.small.z-1(href='#')
							span.float-left View Details
							span.float-right
								i.fas.fa-angle-right
				.col-xl-3.col-sm-6.mb-3
					.card.text-white.bg-success.o-hidden.h-100
						.card-body
							.card-body-icon
								i.fas.fa-fw.fa-database
							.mr-5 Get Data from Github Repository
						a.card-footer.text-white.clearfix.small.z-1(href='#' onclick="getData()" id='getData')
							span.float-left Get Data
							span.float-right
								i.fas.fa-angle-right
				.col-xl-3.col-sm-6.mb-3
					.card.text-white.bg-danger.o-hidden.h-100
						.card-body
							.card-body-icon
								i.fas.fa-fw.fa-trash
							.mr-5 Remove all of my Portfolio Data
						a.card-footer.text-white.clearfix.small.z-1(href='#' onclick="removeData()" id='removeData')
							span.float-left Remove Exist Data
							span.float-right
								i.fas.fa-angle-right
			// Chart Area
			.card.mb-3
				.card-header
					i.fas.fa-chart-area
					| Recent 7 Days Visitors
				.card-body
					script.
						let chartData=!{JSON.stringify(chartData.reverse())};
						let chartMaxData=!{JSON.stringify(chartMaxData)}
					canvas#myAreaChart(width='100%', height='30')
				.card-footer.small.text-muted=`Updated at ${updatedTime}`
			// DataTables
			.card.mb-3
				.card-header
					i.fas.fa-table
					| My Portfolio Data
				.card-body
					.table-responsive
						table#dataTable.table.table-bordered(width='100%', cellspacing='0')
							thead
								tr
									th ID
									th Name
									th Type
									th Demo
									th Image
									th Keyword
									th Project Start
									th Porject End
									th Github URL
							tbody
								each data in dataArray
									tr
										td
											a(href=`/${userId}/${data.name}`)=`${data.id}`
										td= `${data.name}`
										td= `${data.projectType}`
										if data.homepage=='None'
											td=`None`
										else if data.homepage!=='None'
											td
												a(href=`${data.homepage}`)=`Click`
										td
											img(src=`${data.imageURL}`)
										td= `${data.language}`
										td= `${data.created_at.toISOString().substr(0,7)}`
										td= `${data.updated_at.toISOString().substr(0,7)}`
										td
											a(href=`${data.html_url}`)=`${data.html_url}`
				.card-footer.small.text-muted=`Updated at ${updatedTime}`
			footer.sticky-footer
				.container.my-auto
					.copyright.text-center.my-auto
						span Copyright © ExpressMe 2020

block customJS
	// ChartJS CDN
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
	// Datatable JS CDN
	script(src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js')
	script(src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js')
	// Chart Setting
	script(src='/javascripts/mypage/chart.js')
