extends layout.pug

block content
	#content-wrapper
		.container-fluid
			// Breadcrumbs
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') User Information
				li.breadcrumb-item.active Overview
			.card
				.card-header.col
					i.fas.fa-user
					|  User Information
				.card-body.container-fluid
					.row#cardBody
						.card.row#profileImageContainer
							img.card-img-top(src=`${avatarUrl}`, alt='Card image cap')
							.card-body
								h5.card-title=`${name}`
						.card.row#profile
							form
								.input-group.col
									.input-group-prepend
										span#basic-addon1.input-group-text User Name
									input.form-control.is-valid(type='text' value=`${userId}` disabled)
								.input-group.col
									.input-group-prepend
										span#basic-addon1.input-group-text Unique ID
									input.form-control.is-valid(type='text' value=`${uniqueId}` disabled)
								.input-group.col
									.input-group-prepend
										span#basic-addon1.input-group-text Register Date
									input.form-control.is-valid(type='text' value=`${registerDate}` disabled)
							form(id='userForm')
								.input-group.col
									.input-group-prepend
										span#basic-addon1.input-group-text Email
									input.form-control(type='text' placeholder='Email' id='email' value=`${email}` data-toggle="tooltip" data-placement="top" title="Recommended Data")         
								.input-group.col
									.input-group-prepend
										span#basic-addon1.input-group-text Phone Number
									input.form-control(type='tel' value=`${phoneNumber}` id='phoneNumber' data-toggle="tooltip" data-placement="top" title="Recommended Data")
								.input-group.col
									.input-group-prepend
										span#basic-addon1.input-group-text Bio
									textarea.form-control(rows='3' id='bio' data-toggle="tooltip" data-placement="top" title="Recommended Data")=`${bio}`
								.input-group.col
									button.btn.btn-primary.col(type='button' onclick='userInformationSend()' id='submit') Submit
		footer.sticky-footer
			.container.my-auto
				.copyright.text-center.my-auto
					span Copyright © Portfolio World 2019

block customJS
	script.
		let userId=!{JSON.stringify(userId)}
	script(src='/javascripts/mypage/user.js')