doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Expressme Main Page')
  meta(property='og:description' content='Portfolio Site for Developers')
  title Portfolio World
  include libraries/bootstrapcss.pug
  include libraries/googleadsense.pug
  link(href='stylesheets/main.css' rel='stylesheet')
header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='/') Portfolio World
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item
         - if(_user){
           a.nav-link(href='/logout') Logout
         - } else {
           a.nav-link(href='/auth/login') Login
         - }
      form.form-inline.mt-2.mt-md-0(action=`/user`, method='post')
        input.form-control.mr-sm-2(type='text' name='id' placeholder='Github ID' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Register
main(role='main')
  #myCarousel.carousel
    .carousel-inner
      .carousel-item.active
        .homepage-hero-module
          .video-container
            .filter
            video.fillWidth(autoplay='' loop='' muted='' playsinline='' src='images/app/main/background.mp4')

        .container
          .carousel-caption.text-left
            h1 Portfolio site for Software Developers
            p
              | We believe that the most important thing for developers is the result of the portfolio. Create a personal portfolio website in a few minutes now via Github login!
            - if(_user){
            p
              a.btn.btn-lg.btn-primary(href=`/${url}` role='button') Access to my Portfolio
            - } else {
            p
              a.btn.btn-lg.btn-primary(href='/auth/login' role='button') Register with Github or Google
            - }
  .container
    .row
      .col-lg-4
        img.rounded-circle(src='https://avatars1.githubusercontent.com/u/6832586?s=460&v=4' alt='Generic placeholder image' width='140' height='140')
        h2 Sihyeong Lee
        p
          | Hello! I'm developer of this Web Site
        p
          a.btn.btn-secondary(href='/writingdeveloper' role='button') View details &raquo;
      each profile in dataarray
        .col-lg-4
          img.rounded-circle(src=`${profile.avatar_url}` alt='Generic placeholder image' width='140' height='140')
          h2=`${profile.login}`
          p=`${profile.bio}`
          p
            a.btn.btn-secondary(href=`/${profile.login}` role='button') View details &raquo;
      .moreUser
        a(href=`/find-users`)
          <button type="button" class="btn btn-primary">Discover more users in Expressme</button>
    hr.featurette-divider
    .row.featurette
      .col-md-7(id="intro_1_text")
        h2.featurette-heading
          | To the developer, skill is important.
        p.lead
          | As a developer, the fastest way to prove your skills is through projects. Organize projects, certificates, education, and experiences on a single page and show them to the job recruiters.
      .col-md-5(id="intro_1_img")
        img.featurette-image.img-fluid.mx-auto(src='/images/app/main/intro_1.png' alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7.order-md-2(id="intro_2_text")
        h2.featurette-heading
          | If you like it, contact immediately.
        p.lead
          | If you like the developer's portfolio, contact today! A simple communication may provide an opportunity. If email is too much for you, ask the developer via a message.
      .col-md-5.order-md-1(id="intro_2_img")
        img.featurette-image.img-fluid.mx-auto(src='/images/app/main/intro_2.png' alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7(id="intro_3_text")
        h2.featurette-heading
          | Securely managed personal information
        p.lead
          | All connections are sent privately using the Let's Encrypt SSL security certificate. In addition, the stored data is not used for purposes other than the portfolio website development data.
      .col-md-5(id="intro_3_img")
        img.featurette-image.img-fluid.mx-auto(src='/images/app/main/intro_3.png' alt='Generic placeholder image')
    hr.featurette-divider
  footer.container
    p.float-right
      a(href='#') Back to top
    p
      | &copy; 2018-2019 Portfolio World, Inc. &middot; 
      a(href='#') Privacy
      |  &middot; 
      a(href='/sitemap/0') Sitemap
include libraries/bootstrapjs.pug
include libraries/googleanalytics.pug
script(src='/javascripts/main.js')